<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Goodwin Hall Visualization</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.min.css"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-slider.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/button-style.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
	<div class="loader hidden"></div>
	<div id="tooltip" class="hidden">
		<p><span id="playback-time"></span></p>
	</div>
	<div class="alert alert-danger hidden" role="alert">
 		Invalid query!
	</div>

	<div class="navbar">
		<div class="nav-left">
			<div class="brand">
				<p><a href="/">VTSIL</a></p>
			</div>
			<div class="dash-name">
				<p>Life of Goodwin Hall</p>
			</div>
		</div>
		<div class="nav-right">
			<div id="data-export" onclick="ondataexportclick()" title="Export data">
				<p><a href="javascript:void(0);"><i class="fa fa-file-export"></i></a></p>
			</div>
			<div id="undo-selection" title="Undo last selection">
				<p><a href="javascript:void(0);" onclick="onundoselectionclick()"><i class="fa fa-undo"></i></a></p>
			</div>
			<div id="viz-type" onchange="onviztypechanged()" title="Change visualization">
				<div class="nav-dropdown">
					<div class="nav-dropdown-body">
						<select id="select-viz-type">
							<option value="single-sensor">Individual</option>
							<option value="live">Live</option>
							
							<!-- <option value="compare-sensor">Compare</option> -->
						</select>
					</div>
				</div>
			</div>
			<div id="refresh-interval">
				<p><a href="javascript:void(0);" onclick="onrefreshintervalclick()"><i class="fa fa-redo"></i> Every 4 sec</a></p>
			</div>
		</div>
	</div>

	<section class="content">
		<div id="query" class="container">
			<div class="row">
				<div id="select-floor" onchange="floorSelected();" class="nav-dropdown col-sm-2" id="floor-number" title="Select floor number">
					<div class="nav-dropdown-body" style="height: inherit; width: 100%;">
						<select id="select-floor-number" style="height: inherit; width: 100%; padding-left: 10px;">
							<option value="1">Floor 1</option>
							<option value="2">Floor 2</option>
							<option value="3">Floor 3</option>
							<option value="4">Floor 4</option>
							<option value="5">Terrace</option>
						</select>
					</div>
				</div>
				<div class="col-sm-4">
					    <div class="input-group date form_datetime" data-date="2019-02-19T07:00:00Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input_1">
					        <input class="form-control" size="16" type="text" value="" readonly placeholder="From Time">
					        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
					    </div>
						<input type="hidden" id="dtp_input_1" value="" /><br/>
				</div>
				<div class="col-sm-4">
					    <div class="input-group date to_datetime" data-date="2019-02-19T07:00:04Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input_2">
					        <input class="form-control" size="16" type="text" value="" readonly placeholder="To Time">
					        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
					    </div>
						<input type="hidden" id="dtp_input_2" value="" /><br/>
				</div>
				<div class="col-sm-2">
					<input id="explore-fetch" class="btn btn-primary" type="submit" value="Fetch">
				</div>
			</div>
		</div>

		<div id="playback" class="container">
			<div class="row" style="height: inherit;">
				<div class="col-sm-10" id="playback-svg" style="height: inherit;">
					
				</div>
<!-- 				<div id="floorwise-play" class="col-sm-2 hidden play-pause" style="color: white; height: inherit;">
					<i class="fa fa-play"></i>
				</div>
				<div id="floorwise-pause" class="col-sm-2 play-pause" style="color: white; height: inherit;">
					<i class="fa fa-pause"></i>
				</div> -->
			</div>
		</div>
		<div class="container" style="height: 70vh;">
			<div class="row" style="height:100%;">
				<div id="floor" class="col-4" style="height:100%; padding:0px;"></div>
				<div id="floor-sensor-psd" class="col-8" style="height:100%; padding:0px;"></div>
			</div>
		</div>
	</section>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-fetch.v1.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script type="text/javascript" src="js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="js/bootstrap-slider.min.js"></script>
<script type="text/javascript" src="js/commons.js"></script>
<script type="text/javascript" src="js/floorwise-viz.js"></script>
</body>
</html>