<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Goodwin Hall Visualization</title>
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
	<link rel="stylesheet" type="text/css" href="css/button-style.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
	<meta name="theme-color" content="#ffffff">
</head>
<body>
	<div class="navbar">
		<div class="nav-left">
			<div class="brand">
				<p><a href="/">VTSIL</a></p>
			</div>
			<div class="dash-name">
				<p>Life of Goodwin Hall</p>
			</div>
		</div>
	</div>

	<section class="content" style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">
		<a style="width: 40%; height: 40%; margin: 20px; text-decoration: none;" href="/building">
			<div class="thumbnail-div" style="background-image: url('images/thumbnail_viz1.jpg');">
				<p>Building</p>
			</div>
		</a>
		<a style="width: 40%; height: 40%; margin: 20px; text-decoration: none;" href="/floorwise">
			<div class="thumbnail-div" style="background-image: url('images/thumbnail_viz2.jpg');">
				<p>Floor</p>
			</div>
		</a>
		<a style="width: 40%; height: 40%; margin: 20px; text-decoration: none;" href="/explore">
			<div class="thumbnail-div" style="background-image: url('images/thumbnail_viz3.jpg');">
				<p>Sensor</p>
			</div>
		</a>
		<a style="width: 40%; height: 40%; margin: 20px; text-decoration: none;" href="/oma">
			<div class="thumbnail-div" style="background-image: url('images/thumbnail_viz1.jpg');">
				<p>OMA</p>
			</div>
		</a>
		<!-- <div class="thumbnail-div" style="background-image: url('images/thumbnail_viz2.jpg');">
			<p>Floor</p>
		</div>
		<div class="thumbnail-div" style="background-image: url('images/thumbnail_viz3.jpg');">
			<p>Sensors</p>
		</div>
		<div class="thumbnail-div" style="background-image: url('images/thumbnail_viz1.jpg');">
			<p>OMA</p>
		</div> -->
	</section>
<script type="text/javascript" src="js/commons.js"></script>
</body>
</html>