<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Welcome to Goodwin Hall</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<h2>Life of a Building</h2>
<div id="building">
	<div id="floor1">
		<svg width="500" height="400"></svg>
	</div>
	<div id="floor2">
		<svg width="500" height="400"></svg>
	</div>
	<div id="floor3">
		<svg width="500" height="400"></svg>
	</div>
	<div id="floor4">
		<svg width="500" height="400"></svg>
	</div>
</div>
<script src="https://d3js.org/d3.v4.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>